$font-family-base: "Montserrat";
$body-bg-gradient: linear-gradient(245.71deg, #1e0c00 4.96%, #1f0700 33.7%, #170a00 68.41%, #1e0d00 96.42%);
$primary-gradient: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);

$btn-primary-bg: $primary-gradient;
$btn-primary-bg-hover: linear-gradient(-261.48deg, #fe9c1c -17.13%, #ff5e2a 86.76%);

$nav-link-font-size: 17px;
$navbar-bg-collapse: rgba(30, 12, 0, 1);
@mixin text-gradient {
  background: $primary-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}
